.header{
    padding: 4px 0;
    position: relative;
    z-index: 99;
}

.container{
       display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
    gap: 26px;
}

.header_common_btn{
    gap: 8px;
}

.header_common_btn img{
    width: 24px;
}