.section{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 99999999999;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: top right;
    transform: translateY(-100vh);
    transition: 0.75s all;
}



.section.show{
        transform: translateY(0);
}

.menuVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.menuVideo::before{
    position: absolute;
    content: '';
    inset: 0;
    background-color: black;
    opacity: 0.85;
}

.menuVideo video{
    width: 100%;
    height: auto;
}
.menu_topContainer{
    position: absolute;
    z-index: 2;
    padding: 40px 20px;
    display: flex;
    justify-content: flex-end;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.menu_container::before,
.menu_container::after{
display: none;
}

.footer_closeBtn{
    opacity: 0;
    transform: translateX(30px);
    transition-delay: 0.5s;
}

.section.show .footer_closeBtn{
    opacity: 1;
    transform: translateX(0px);
}

.menu_link_container {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
  gap: 40px;
}


.menu_link_container {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}


.menu_container .menu_link_container:nth-child(1) {
  transition-delay: 0.5s;
}
.menu_container .menu_link_container:nth-child(2) {
  transition-delay:0.75s; 
}
.menu_container .menu_link_container:nth-child(3) {
  transition-delay:1s;
}
.menu_container .menu_link_container:nth-child(4) {
  transition-delay: 1.25s;
}


.section.show .menu_container .menu_link_container {
  opacity: 1;
  transform: translateY(0);
}

.menuLinks_single h3{
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
}
.menuLinks_single ul li a{
    position: relative;
    padding-right: 30px;
    transition:var(--transition);
}

.menuLinks_single ul li a::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
   left: unset;
   background-image: url("/images/menu_arrow.svg");
   width: 22px;
   height: 24px;
   background-size: cover;
    transition:var(--transition);
}

.menuLinks_single ul li a:hover{
    color: var(--green);
}

.menuLinks_single ul li a:hover::before{
    transform: rotate(45deg);
}

/* for screen height less than 750px */

@media (max-height:750px) {

  .menuLinks_single h3{
    font-size: 24px;
    line-height: 32px;
}  

}

/* tablet */
@media (max-width:1200px) {

    .menuVideo{
   height: 100%;
}


.menuVideo video{
    height: 100%;
    width: auto;
}

  .menuLinks_single h3{
    font-size: 20px;
    line-height: 28px;
}  

.section{
    min-height: 100vh;
    max-height: unset;
    height: unset;
    transform: translateY(-100%);
}

}

/* mobile */
@media (max-width:767px) {
    .menu_container{
        margin-top: 50px;
    }
    .menuLinks_single ul:not(.noAccordion) {
        max-height: 28px;
        overflow: hidden;
        transition: 0.3s ease-in;
    }
      .menuLinks_single ul:hover{
        animation: showsubmenu 0.3s forwards linear;
      }
      @keyframes showsubmenu {
        to{
            max-height: 1000px;
        }
      }
}