.main{
display: flex;
flex-direction: column;
}

@media (min-width:1201px) {
  .full_height_section{
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}
.sticky{
    position: sticky !important;
  top: 0;
  z-index: 2;
}
}

.full_height_section{
  background-color: var(--pageBG);
}




.banner_section{
 padding: 0;
 position: relative;
 padding: 180px 0 80px 0;
  display: flex;
  flex-direction: column;
}

.banner_video_container{
   width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.bannerTitle{
max-width: 690px;
font-size: 48px;
line-height: 56px;
}

.video{
      width: 100%;
    height: auto;
}

.banner_video_container::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var( --pageBG);
 mix-blend-mode: plus-lighter;
 z-index: 2;
}

.bannerContent_container{
  margin: auto auto 0 auto;
    position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bannerContent{
  display: flex;
 justify-content: space-between;
 align-items: flex-end;
  height: 100%;
}

.bannerContent_text{
  width: 100%;
  max-width: 560px;
  font-size: 24px;
  line-height: 32px;
}


.topContent .common_heading{
  text-align: center;
}


.topContent_left{
  text-align: left;
  align-items: flex-start;
    margin: unset;
}

.standard_section .topContent{
  width: 100%;
  max-width: 665px;

}

.standard_section .topContent p{
width: 100%;
max-width: 530px;
}

.stats{
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin-top: 40px;
}

.stat_card{
  width: calc(25% - 22.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 0 50px;
}

.standard_section{
  background-image: url('/images/standard_img.webp');
  background-position: bottom center;
  background-size: 100% auto;
  width: 100%;
  background-repeat: no-repeat;
}

.standard_section_image{
  width: 100%;
  height: auto;
}

.redefiningsection{
  z-index: 2;
  display: flex;
  background-image: url('/images/redefine_drone.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60vw;
}

.redefiningsection .redefining_container{
  height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.redefiningsection .topContent{
  max-width: 520px;
}

.why_hindustan_container .topContent,
.tech_container .topContent,
.drone_system_container .topContent,
.pilot_training_container .topContent{
  max-width: 660px;
}

.why_hindustan{
  background-image: url('/images/why_hindustan_bg.webp');
  background-size: cover;
  background-position: top left;
  position: relative;
}

.why_hindustan::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background:linear-gradient(to top, rgba(0, 0, 0, 0.5),transparent);
}

.why_hindustan_container,
.drone_system_container,
.pilot_training_container{
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.why_hindustan_cards{
  margin-top: auto;
  display: flex;
  gap: 30px;
}

.why_choose_card{
  width: calc(25% - 22.5px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.why_choose_card h3{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.tech{
  z-index: 2;
   min-height: fit-content;
  max-height: fit-content;
  height: fit-content;
}

.tech_contents_container{
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.tech_contents_container aside{
  width: 35%;
}

.tech_contents_container aside ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tech_contents_container aside ul li{
  padding-bottom: 24px;
cursor: pointer;
position: relative;

}

.tech_contents_container aside ul li div{
 font-size: 24px;
  line-height: 32px;
  transition: 0.3s all;
font-weight: 300;
opacity: 0.5;

}

.tech_contents_container aside ul li:hover div{
  opacity: 1;
}

.tech_contents_container aside ul li::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #404FD7 0%, #404FD7 50.3%, rgba(64, 79, 215, 0.00) 100%);
bottom: 0;
left: 0;
  transition: 0.3s all;
}

.tech_contents_container aside ul li div.tabActive{
  font-weight:700;
  opacity: 1;
}

.tech_selection{
  width: 65%;
  position: relative;
}

.tech_selection::before{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 6, 36, 0.00) 42.53%, #000419 79.18%);
  content: "";
}

.tech_selection .tech_selecetdImage{
  width: 100%;
  height: auto;
}

.tech_selection_content{
  position: absolute;
  left: 40px;
  bottom: 40px;
}

.tech_selection_content h4{
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.drone_system{
  background-image: url('/images/drone_system_bg.webp');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-blend-mode:screen; */
}

.drone_system_container .topContent p{
  width: 80%;
}

.drone_system_card{
  width: calc(33.33% - 20px);
}

.drone_models{
  background-color: var(--productBg);
}

.drone_slider :global(.swiper) {
  padding: 80px 0 !important;
    background-image: url("/images/slider_h.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 80%;
  margin-top: 20px;
}

.drone_slider :global(.swiper-slide) {
  opacity: 0.4;
  transition: 0.3s all
}

.drone_slider :global(.swiper-slide) h3{
  display: none;
  opacity: 0;
margin-top: 20px;
  text-align: center;
}

.drone_slider :global(.swiper-slide) img{
  width: 100%;
  height: auto;
}

.drone_slider :global(.swiper-slide-active) {
  opacity: 1;
  transform: scale(1.3) !important;
}

.droneSlider_nav{
  margin-top: 0;
}

/* .drone_slider :global(.swiper-slide-active) .drone_slider_img{
     background-image: url("/images/slider_h.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
} */



.drone_slider :global(.swiper-slide-active) h3{
  display: block;
  opacity: 1;
  font-weight: 600;
}





.pilot_training{
  background-image: url('/images/pilot_training_bg.png');
  background-size: cover;
  background-position: top center;
}

.pilot_training_container .topContent.pilot_training_content{
  margin-top: auto;
  max-width: 630px;
}

.insights{
   background-color: var(--pageBG);
}

.insights_container .topContent{
  max-width: 100%;
}

.insight_cards{
  margin-top: 40px;
}

.insight_card,
.insight_card_content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.insight_card{
  gap: 24px;
    width: 100%;
}

.insight_feature_image{
  width: 100%;
  height: auto;
}

.insight_card_content{
  gap: 16px;
}

.insight_card_content .insight_btn img{
  width: 12px;
  height: 12px;
}

/* ──  responsive ── */

/* for laptop */
@media (max-width: 1400px) {

  

  .why_choose_card img{
    width: 60px;
    height: auto;
  }

 .why_hindustan_container .topContent,
.tech_container .topContent,
.drone_system_container .topContent,
.pilot_training_container .topContent{
  max-width: 500px;
}

.bannerContent_text,
.tech_contents_container aside ul li,
 .why_choose_card h3{
  font-size: 20px;
  line-height: 28px;
}

.bannerTitle{
font-size: 36px;
line-height: 42px;
}

.banner_section{
 padding: 120px 0 80px 0;
}

}

/* for tablet */

@media (max-width: 1200px) {

  .banner_section{
 padding: 160px 0 50px 0;
}

  .insight_cards {
    margin-top: 30px;
}

 .drone_slider :global(.swiper) {
  padding: 60px 0 !important;
}

  .drone_models .topContent,
  .pilot_training .topContent,
  .insights_container .topContent{
            max-width: 500px;
  }

  .drone_system{
    background-image: none;
  }

  .tech_selection_content {
    bottom: 20px;
    left: 20px;
}

.drone_system_Mobileimage{
  width: 100%;
  height: auto;
}

  .tech_selection_mobile .tech_selecetdImage{
  width: 100%;
  height: auto;
}

  .tech_selection_mobile{
 animation: showtech_selection 0.5s forwards linear;
  max-height: 0;
  transition: 0.3s all;
  overflow: hidden;
  /* will-change: transform; */
  }

@keyframes showtech_selection {
  to{
   max-height: 1000px;
  }
}

  .tech_contents_container aside {
    width: 100%;
}

.tech_contents_container aside ul li{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.tech_contents_container aside ul li>div:nth-child(1){
  padding-right: 40px;
  position: relative;
}

.tech_contents_container aside ul li>div:nth-child(1)::before{
  position: absolute;
  content: "";
  background-image: url("/images/accordion-icon.svg");
  width: 24px;
  height: 16px;
  background-size: cover;
  left: unset;
  right: 0;
  top: 6px;
  opacity: 0.5;
}

.tech_contents_container aside ul li:has(.tabActive) div:nth-child(1)::before{
transform: rotate(180deg);
opacity: 1;
}

.tech_contents_container aside ul li div.tech_selection_mobile{
  position: relative;
}

.tech_contents_container aside ul li div{
  font-size: 20px;
  line-height: 28px;
  opacity: 1;
}

 .tech_contents_container,
  .stats{
  margin-top: 30px;
 }

  .why_hindustan_container,
  .drone_system_container,
  .pilot_training_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .why_hindustan_cards{
    flex-wrap: wrap;
    gap: 40px 20px;
  }

  .why_choose_card {
    gap: 16px;
    width: calc(50% - 10px);
}

.why_hindustan{
  background-position: left;
  background-size: auto 100% !important;
}


  .redefiningsection .redefining_container{
    gap: 16px;
  }

   .redefiningsection{
    display: flex;
    flex-direction: column;
   }

  .stats{
    flex-wrap: wrap;
  }

  .stat_card{
    padding: 0;
    width: calc(50% - 15px);
     text-align: left;
    align-items: flex-start;
  }

  .redefiningsection_Mobileimage{
    width: 80%;
    height: auto;
    margin-top: -20vw;
    margin-left: auto;
  }


  .standard_section{
    padding: 0;
  }

   .drone_system{
    padding: 0 0 50px 0;
   }

  .standard_section,
  .redefiningsection{
    background-image: none;
  }

  .standard_section_image{
    float: left;
  }

  .drone_slider :global(.swiper-slide-active) {
    transform: scale(1.15) !important;
  }

  .bannerContent_container {
       display: flex;
       flex-direction: column;
       gap: 20px;
    }
  .bannerContent{
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.bannerContent_text{
  width: 100%;
  max-width: 560px;
}

.banner_section{
 padding-bottom: 50px;
}

 
}

/* for mobile */

@media (max-width: 767px) {

   .banner_section{
 padding: 120px 0 50px 0;
}


  .pilot_training{
    min-height: 850px;
    height: 850px;
    background-image: url("/images/pilot_training_bg_m.webp");
  }

  .tech_contents_container aside ul li div{
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

.tech_selection_content h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

  .tech_selection_content{
    position: static;
  }

  .why_hindustan_container .topContent{
    padding: 0 20px;
  }

  .singleDroneImage{
    animation: singleDroneImage 4s infinite alternate linear;
    width: 90%;
    height: auto;
  }

  @keyframes singleDroneImage {
    to{
      transform: translateY(20px);
    }
  }

  
.why_hindustan{
  background-image: url('/images/why_hindustan_bg_m.webp');
  background-repeat: no-repeat;
  background-size: 100% auto !important;
  position: relative;
  min-height: 1100px;
  height: 1100px;
}

.why_hindustan_container,
.pilot_training_container{
  height: 100%;
}

.why_hindustan_container{
  padding: 0;
}

.why_hindustan::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
background: linear-gradient(180deg, rgba(0,0,0,0.6) 23.18%, rgba(0,0,0,0) 45.67%, rgba(0,0,0,0.6) 74.35%);
top: 0;
left: 0;
opacity: 0.5;
}

.why_hindustan_cards {
        flex-wrap: wrap;
        gap: 30px 20px;
    }

    .why_hindustan_cards:not(.drone_system_cards) {
      flex-wrap: nowrap;
      overflow-x: auto;
      margin: auto 0 0 20px;
    }

    .why_hindustan_cards:not(.drone_system_cards) .why_choose_card{
      min-width: 75%;
    }

  .why_choose_card {
      width: 100%;
    }

  .drone_slider :global(.swiper-slide-active) {
    transform: scale(1.05) !important;
  }

  .bannerContent_text {
       font-size: 16px;
       line-height: 24px;
    }

  .bannerTitle {
        font-size: 32px;
        line-height: 40px;
    }

    .drone_slider :global(.swiper) {
    padding: 40px 20px !important;
        background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: 100% 75%;
    margin-top: 0;
  }
}
