

.subservices_container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.servicesTitle{
    width: 100%;
    max-width: 670px;
}


.subservices_cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.subservices_card{
    width: calc(50% - 15px);
    position: relative;
}

.subservices_card_image{
    width: 100%;
    height: auto;
    position: relative;
}

.subservices_card_image::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(313deg, rgba(0, 0, 0, 0.00) 43.48%, rgba(0, 0, 0, 0.60) 76.89%);
    z-index: 2;
}

.subservices_card img{
    width: 100%;
    height: auto;
}

.subservices_content{
    width: 100%;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 3;
}

.subservices_card:nth-child(4n+2) .subservices_content,
.subservices_card:nth-child(4n+3) .subservices_content {
  top: unset;
  bottom: 24px;
}

.subservices_card:nth-child(4n+2) .subservices_card_image::before,
.subservices_card:nth-child(4n+3) .subservices_card_image::before{
    background: linear-gradient(13deg, rgba(0, 0, 0, 0.60) 9.42%, rgba(0, 0, 0, 0.00) 75.72%);
}

.subservices_content h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.benefits_section{
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-position-y: 100%;
}

.benefits_section::before{
    position: absolute;
    content: '';
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 52.62%);
}

.benefits_topContent{
    color: black;
}

.benefits_topContent{
    max-width: 670px;
}

.benefits_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.benefits_slider{
    margin-top: auto;
}

.benefitsCard{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.benefitsCard h3{
    font-size: 24px;
    line-height: 32px;
}

.productsdata_nav{
  margin-top: 0;
}



/* responsive */

/* tablet */
@media (max-width:1200px){

    .product_section .topContent{
    width: 100%;
    max-width: 500px;
}

    .benefitsCard{
    gap: 8px;
}

.subservices_container{
    gap: 30px;
}



.benefits_section{
    min-height: 70vh;
    height: 70vh;
}

.subservices_content{
    gap: 12px;
    position: static;
  margin-top: 20px;
}

.benefitsCard h3,
.subservices_content h3{
    font-size: 20px;
    line-height: 28px;
}



}

/* mobile */

@media (max-width:767px){
    .subservices_card{
    width: 100%;
    position: relative;
}


.benefits_section {
        height: 90vh;
        min-height: 90vh;
    }

}