.main{
display: flex;
flex-direction: column;
}

.trainingHeroSection:global(.innerpage_hero_section.common_section){
    padding-bottom: 80px;
}

.stack_section{
    height: 100vh;
    min-height: 100vh;
    background-size: 100%;
    position: relative;
}

.stack_section.sticky{
    position: sticky;
    top: 0;
}

.stack_section::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 45.67%, rgba(0, 0, 0, 0.50) 74.35%), linear-gradient(270deg, rgba(0, 4, 25, 0.00) 41.89%, rgba(0, 4, 25, 0.40) 70.06%);
    top: 0;
    left: 0;
}

.stackContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.stackTitle,
.stackContent{
    width: 100%;
    max-width: 600px;
}

/* responsive */

/* laptop */
@media (max-width:1400px){
    .trainingHeroSection:global(.innerpage_hero_section.common_section){
    padding-bottom: 50px;
}
}


/* tablet */
@media (max-width:1200px){

    .stack_section.sticky{
        position: relative;
    }

    .stack_section{
        background-size: auto 100%;
    }

    .stack_section::before{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 46%, rgba(0, 0, 0, 0.50) 74%), linear-gradient(270deg, rgba(0, 4, 25, 0.00) 55.92%, rgba(0, 4, 25, 0.40) 85.69%);
    }

}

/* mobile */
@media (max-width:767px){

        .trainingHeroSection:global(.innerpage_hero_section.common_section){
    padding-bottom: 0px;
}

.stackContainer{
    gap: 16px;
    height: fit-content;
}

    .stack_section{
        background-size: 0;
        height: fit-content;
        min-height: fit-content;
    }
    .stackContent{
        order: 2;
    }
    .stackImage{ 
        order: 3;
    }
    .stackImage img{
width: 100%;
        height: auto;
    }
      .stackContainer p br:nth-child(1){
        display: none;
      }

      .stack_section.sticky{
    padding-bottom: 0;
}

}